.main{
    display: grid;
    justify-content: center;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 15%);
    grid-template-rows: repeat(3, calc(15% / 3 * 5));
}

.weeks {
    padding: 30px;
}
.Introduction{
    font-weight: lighter;
    text-align: center;
    justify-content: center;
}
.weeks button {
    width: 100%;
    height: 200px;
    text-align: left;
    cursor: pointer;
    padding: 10px;
}